<div class="c100 small green" [ngClass]="'p'+ percentage()" style="position: relative;">
    <!-- <span style="font-size: 22px; position: absolute; top: 50%; left: 50%; transform: translateX(-50%) translateY(-50%);">{{percentage()}}%</span> -->
    <div class="slice">
        <div class="bar"></div>
        <div class="fill"></div>
    </div>
</div>