<app-navbar></app-navbar>
<div class="columns mt-5">
    <!-- Quacks and All -->
    <section class="column ml-6 mt-6">
            <div class="container" style="max-width: 75%;">
            <!-- Tabs -->
            <div class="tabs is-centered is-boxed">
                <ul>
                    <li (click)="quackTabIndex = 0" [ngClass]="{'is-active': quackTabIndex == 0, 'has-text-weight-semibold': quackTabIndex == 0}">
                        <a class="has-text-brand is-capitalized">timeline</a>
                    </li>
                    <li (click)="quackTabIndex = 1" [ngClass]="{'is-active': quackTabIndex == 1, 'has-text-weight-semibold': quackTabIndex == 1}">
                        <a class="has-text-brand is-capitalized">quacks</a>
                    </li>
                </ul>
            </div>
            
            <!-- Tab content -->
            <div id="tweets" class="mt-6 mb-3" *ngIf="quackTabIndex == 0; else myQuacksTab" style="max-height: 50vh; overflow-y: auto; padding-top: 1px; padding-right: 16px;">
                <div *ngFor="let tweet of Model.tweetProfile.quacksOnTimeline">
                    <!-- <span>{{tweet.userInfo?.name}}</span> -->
                    <span><a class="tag-link" [href]="'/profile/' + tweet.userInfo?.tag">@{{tweet.userInfo?.tag}}</a></span>
                    <span>{{timeAgo(tweet.postDate)}}</span>
                    <div style="width: 100%">
                        <figure class="image is-48x48 mr-2" style="float:left;">
                            <img [src]="tweet.userInfo?.imageUrl" class="is-rounded" />
                        </figure>
                        <span class="dont-break-out">
                            <app-token-text [text]="tweet.text"></app-token-text>
                        </span>
                    </div>
                </div>
            </div>

            <ng-template #myQuacksTab>
                <div id="tweets" class="mt-6 mb-3" style="max-height: 50vh; overflow-y: auto; padding-top: 1px; padding-right: 16px;">
                    <div *ngFor="let tweet of Model.tweetProfile.quacks">
                        <span><a class="tag-link" [href]="'/profile/' + tweet.userInfo?.tag">@{{tweet.userInfo?.tag}}</a></span>
                        <span>{{timeAgo(tweet.postDate)}}</span>
                        <div style="width: 100%">
                            <figure class="image is-48x48 mr-2" style="float:left">
                                <img [src]="tweet.userInfo?.imageUrl" class="is-rounded" />
                            </figure>
                            <span class="dont-break-out">
                                <app-token-text [text]="tweet.text"></app-token-text>
                            </span>
                        </div>
                    </div>
                </div>
            </ng-template>

            <!-- Quack / Follow btn-->
            <section class="is-flex is-justify-content-center">
                <div class="button is-quacker has-text-weight-bold" *ngIf="isOwnerOfProfile; else followBtn" (click)="toggleModal()">Quack</div>
                    <ng-template #followBtn>
                        <div [attr.data-userid]="Model.userProfile.id" class="button is-quacker has-text-weight-bold is-capitalized" (click)="toggleFollowUser($event)" [ngClass]="{'is-danger': Model.tweetProfile.isFollowing}">{{Model.tweetProfile.isFollowing ? 'unfollow' : 'follow'}}</div>
                    </ng-template>
            </section>

        </div>
    </section>

    <!-- Main profile info -->
    <section class="column has-text-centered" *ngIf="auth.user$ | async as user">
        <!-- Personal info -->
        <!-- <img src="assets/images/dev/default-profile-picture.png" alt="Logged in user's profile picture" /> -->
        <figure class="is-justify-content-center is-flex image">
            <img [src]="Model.tweetProfile.imageUrl || 'assets/images/waiting-duck.png'" class="is-rounded" alt="Logged in user's profile picture"/>
        </figure>
        
        <!-- <h2 class="is-size-2 has-text-weight-bold">@MyTag</h2> -->
        <h2 class="is-size-2 has-text-weight-bold">@{{Model.tweetProfile?.tag}}</h2>
        <h4 class="is-size-4 has-text-weight-semibold">
            <span>{{Model.userProfile?.firstname}}</span>
            <span> {{Model.userProfile?.lastname}}</span>
        </h4>
        <h5 class="is-size-5">
            <span>
                {{Model.userProfile?.city ? Model.userProfile.city + ', ' : ''}}
            </span>
            <span>
                {{Model.userProfile?.country ? Model.userProfile.country : ''}}
            </span>
        </h5>

        <!-- Follower and quack info -->
        <div class="columns my-0 has-text-brand">
            <h4 class="column is-size-5 has-text-right has-text-weight-bold"><a class="tag-link" [href]="'/follows/' + Model.tweetProfile.tag">{{Model.tweetProfile.followingCount}}<span class="has-text-weight-normal"> Following</span></a></h4>
            <h4 class="column is-size-5 has-text-left has-text-weight-bold"><a class="tag-link" [href]="'/follows/' + Model.tweetProfile.tag">{{Model.tweetProfile.followerCount}}<span class="has-text-weight-normal"> {{Model.tweetProfile.followerCount == 1 ? 'Follower' : 'Followers'}}</span></a></h4>
        </div>
        <h4 class="is-size-5 has-text-weight-bold has-text-brand">{{Model.tweetProfile.quackCount}} <span class="has-text-weight-normal">{{Model.tweetProfile.quackCount == 1 ? 'Quack' : 'Quacks'}}</span></h4>    
    </section>

    <!-- Socials and Bio cards -->
    <section class="column mt-4">
        <div id="socials" class="card block mr-6">
            <header class="card-header">
                <p class="card-header-title is-centered is-title">Socials</p>
            </header>
            <div class="card-content">
            </div>
        </div>

        <div id="bio" class="card block mr-6">
            <header class="card-header">
                <p class="card-header-title is-centered is-title">Bio</p>
            </header>
            <div class="card-content">
                <p>{{Model.userProfile?.bio}}</p>
            </div>
        </div>
    </section>
</div>

<!-- The modal -->
<div class="modal" [class.is-active]="isModalActive">
    <div class="modal-background" (click)="toggleModal()"></div>
    <div class="modal-card">
      <header class="modal-card-head is-flex is-justify-content-flex-end">
        <!-- <p class="modal-card-title">Modal title</p> -->
        <button class="delete" aria-label="close" (click)="toggleModal()" style="float: right;"></button>
      </header>
      <section class="modal-card-body is-flex pt-1 pl-3 pb-6">
        <!-- Content ... -->
        <!-- <textarea class="is-flex-grow-1 p-3" placeholder="What is happening?" style="height: 100%">

        </textarea> -->
        <!-- <div class="is-flex-grow-1 pl-2 pt-2 pb-6 is-italic is-size-5 has-text-grey">What is happening?</div> -->
        <figure class="image">
            <img [src]="Model.tweetProfile.imageUrl" class="m-4 is-rounded" style="width: 48px; height: 48px;" />
        </figure>
        <app-quack-area [(quackText)]="quackText" style="width: 100%; height: 100%;"></app-quack-area>

      </section>
      <footer class="modal-card-foot is-flex is-justify-content-space-between">
        <span style="display: flex; align-items: center">
            <app-percent-circle [total]="144" [current]="quackText.length"></app-percent-circle>
            {{charactersLeft()}}/144
        </span>
        <div class="button is-quacker" (click)="postQuack()">Quack</div>
      </footer>
    </div>
  </div>

  <app-sign-up-form *ngIf="hasProfileLoaded && isOwnerOfProfile" [profile]="Model" ></app-sign-up-form>
  <!-- [firstName]="Model.userProfile.firstname" -->
  <app-loader *ngIf="!hasProfileLoaded"></app-loader>

