// section{
//     border: 1px solid red;
// }


img{
    width: auto;
    max-height: 160px;
}


#tweets > div {
    border: 1px solid silver;
    padding: 12px;
    padding-top: 20px;
    margin-top: -1px;
    display: flex;
    justify-content: left;
    align-items: center;
    position: relative;
}

#tweets > div > span {
    position: absolute;
    top: 0;
    font-weight: bold;
    color: silver;
}

#tweets > div > span:first-of-type {
    left: 50%;
    transform: translateX(-50%);
}

#tweets > div > span:last-of-type {
    right: 12px;
}

#tweets > div > img {
    float: left;
    height: 50px;
    width: auto;
    margin-right: 20px;
}
