#image-holder{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-of-home-image-background);
}


#btn-holder{
    transform: translateY(-50%);
}

img{
    max-width: auto;
    max-height: 65%;
}

.button{
    line-height: 100%;
}

span{
    text-decoration: underline;
}
