<!-- <p>home works!</p>
<app-user-profile></app-user-profile>
<app-auth-button></app-auth-button> -->

<div class="columns m-0 p-0" style="height: 100vh;">
    <section id="image-holder" class="m-0 p-0 has-text-centered column is-two-fifths" style="height: 100%;">
        <img src="assets/images/welcome-logo.png" alt="Welcome logo" />
    </section>
    <section class="m-0 p-0 column has-text-centered is-flex is-flex-direction-column is-justify-content-space-between" style="height: 100%;">
        <div class="mt-6">
            <h1 class="is-size-1 has-text-weight-bold has-text-grey">Join Quacker Today</h1>
            <h1 class="is-size-3 has-text-weight-bold has-text-grey-light is-italic">And let everyone know</h1>
        </div>
        <div id="btn-holder" class="mb-6">
            <div class="columns is-centered mt-6 mb-5"><div id="signup" class="column button is-quacker is-large is-one-third has-text-weight-bold">Sign up</div></div>
            <div class="columns is-centered mt-5"><app-auth-button class="column is-flex is-one-third aaa" style="padding: 0;"></app-auth-button ></div>
        </div>
        <span class="is-size-4 has-text-grey mb-5 pb-2">How we use your data</span>
    </section>
</div>