<nav class="navbar">
    <div class="navbar-brand">
        <a href="/home" class="navbar-item" >
            <img class="mr-2" src="assets/images/logo.png" alt="Quacker logo">
            <span class="has-text-weight-semibold is-capitalized">quacker</span>
        </a>
    </div>

    <div class="navbar-menu">
        <div class="navbar-end navbar-item is-relative">
            <span (click)="toggleMenu()" *ngIf="profile.name.length > 0; else logoutBtn" class="is-clickable" style="position: absolute; left: 0; right: 0; bottom: 0; top: 0;"></span>
            <span *ngIf="profile.name.length > 0" class="is-flex">
                <span class="mx-1 is-justify-content-center is-flex is-flex-direction-column"><span>{{profile?.name}}</span></span>
                <img class="is-rounded ml-2" [src]="profile?.imageUrl"/>
            </span>
            <ng-template #logoutBtn>
                <span class="mr-2 is-justify-content-center is-flex is-flex-direction-column is-capitalized" (click)="logout()">logout</span>
            </ng-template>
            <app-option-menu (closeMenu)="isMenuActive=false" style="position: absolute; top: 100%; right: 0; width: 120%" *ngIf="isMenuActive" (click)="isMenuActive = true"></app-option-menu>
        </div>
    </div>
</nav>

