<div>
    <ul>
        <li class="is-capitalized is-relative" (click)="closeMenu.emit(false)"><i class="icon-left-big" style="position: absolute; left: 8px"></i>back</li>
        <li class="is-capitalized is-relative" (click)="setTheme(false)"><i [class.icon-ok]="theme == 'light'" style="position: absolute; left: 8px"></i>light</li>
        <li class="is-capitalized is-relative" (click)="setTheme(true)"><i [class.icon-ok]="theme == 'dark'" style="position: absolute; left: 8px"></i>dark</li> 
    </ul>
</div>