:root{
    // Variables unchanged by darkmode
    --color-of-brand: #709E7A;
    --color-of-brand-lightened-for-darkmode: var(--color-of-brand);
    --color-of-brand-darkened: #578060;
    --color-of-brand-transparent: rgba(140, 177, 148, .2);
    --color-of-title-text-hover: #709E7A;
    // Light mode variables
    --color-of-card: whitesmoke;
    --color-of-title-text: #707070;
    --color-of-card-hover: silver;
    --color-of-btn-text: #FFF;
    --color-of-default-text: #4a4a4a;
    --color-of-home-image-background: #EFEFEF;
    --color-of-background: #FFFFFF;
}

// Dark mode variables
[data-theme="dark"] {
    --color-of-brand-lightened-for-darkmode: #618369; //#578060;
    --color-of-brand: #45674d;
    --color-of-card: #202020;
    --color-of-card-hover: #383838;
    --color-of-background: #181818;
    --color-of-home-image-background: #222;
    --color-of-title-text: #FFF;
    --color-of-btn-text: #FFF;
    --color-of-default-text: #cdcdcd; //#9F9F9F;
}
