/* You can add global styles to this file, and also import other style files */
@import './variables';

// Ignore default bulma scrollbar
html { 
    overflow-y: hidden !important;
}

.modal-card, .modal-card-head, .modal-card-body, .modal-card-foot, .c100::after {
    background-color: var(--color-of-card) !important;
}

:root, html, body {
    height: 100%;
    width: 100%;
}

body .tabs.is-boxed li.is-active a {
    background-color: var(--color-of-background);
}

body .tabs.is-boxed a:hover {
    background-color: var(--color-of-card-hover);
}

.card {
    background-color: var(--color-of-card) !important;
}

.is-title{
    color: var(--color-of-default-text) !important;
}

:root body, textarea {
    color: var(--color-of-default-text);
}

nav.navbar {
    background-color: var(--color-of-card);
}

nav.navbar .navbar-item, nav.navbar .navbar-link {
    color: var(--color-of-title-text);
}

nav.navbar .navbar-item:hover {
    background-color: var(--color-of-card-hover);
}

nav.navbar .navbar-item:hover, nav.navbar .navbar-link:hover {
    color: var(--color-of-title-text-hover);
}

body{
    background-color: var(--color-of-background);
}

/* Is quacker */

// Buttons
.is-quacker.button{
    background-color: var(--color-of-brand);
    color: var(--color-of-btn-text);
    border: 3px solid transparent;
    transition-duration: .2s;

    &:hover{
        color: var(--color-of-btn-text);
        background-color: var(--color-of-brand-darkened);
        border-color: var(--color-of-brand-darkened);
    }
}

.is-quacker-reversed.button{
    background-color: transparent;
    color: var(--color-of-brand);
    border: 3px solid var(--color-of-brand);
    transition-duration: .2s;

    &:hover{
        color: var(--color-of-brand);
        border-color: var(--color-of-brand);
        background-color: var(--color-of-brand-transparent);
    }
}

// Text
.has-text-brand{
    color: var( --color-of-brand-lightened-for-darkmode) !important;
}

textarea{
    resize: none;
}

.test{
    border: 1px solid red;
}

/* DEMO ONZIN */
button{
    width: 100%;
}

app-auth-button{
    padding: 0;
}

.is-quacker-reversed{
    padding-left: 20px !important;
    padding-right: 20px !important;
}

.aaa{
    padding: 0;
}

// Helper classes
.is-clickable:hover{
    cursor: pointer;
}

.skip-btn:hover{
    text-decoration: underline;
    color: black;
}

.is-full-link {
    position: absolute;
    left: 0;
    right: 0;
    top:0;
    bottom:0;
    &:hover{
        cursor: pointer;
    }
}

.tag-link {
    color: inherit;

    &:hover {
        color: var(--color-of-brand-lightened-for-darkmode);
    }

}


// https://css-tricks.com/snippets/css/prevent-long-urls-from-breaking-out-of-container/
// Fix long words in tweets
.dont-break-out {
    /* These are technically the same, but use both */
    overflow-wrap: break-word;
    word-wrap: break-word;
  
    -ms-word-break: break-all;
    /* This is the dangerous one in WebKit, as it breaks things wherever */
    word-break: break-all;
    /* Instead use this non-standard one: */
    word-break: break-word;
  
    /* Adds a hyphen where the word breaks, if supported (No Blink) */
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
  }

  .card-content {
      color: var(--color-of-title-text);
  }