
input{
    border: 2px solid;
}

input, input:hover{
    border-color: inherit;
}

.control {
    border-color: #707070;
}

.control.is-danger {
    border-color: #f14668;
}

.control.is-success {
    border-color: #48c774;
}

.control .icon {
    border: 2px solid;
    border-radius: inherit;
    border-color: inherit;
    background-color: #efefef;
    color: gray;
}

.control {
    border-width: 0 !important;
}