<div class="modal" [class.is-active]="TagModalState()">
    <div class="modal-background"></div>
    <div class="modal-card">
      <header class="modal-card-head is-flex is-justify-content-flex-end" style="text-align: center; border:none; background-color: whitesmoke;">
        <p class="modal-card-title is-title"><span>Complete </span><span class="has-text-weight-bold">sign up</span></p>
      </header>
      <section class="modal-card-body py-4" style="background-color: whitesmoke">
          <!-- NG if goes here -->
          <form id="tagForm">
          <p class="control mb-4" style="width: 75%; margin: auto; width: 75%; border-radius: 4px;">
            <!--input id="firstname" class="input" type="text" placeholder="First name" [value]="firstName" [readonly]="!isEmpty((profile.userprofile.name)"-->
            <input id="firstname" class="input" type="text" placeholder="First name" [value]="profile.userProfile.firstname || ''" autocomplete="off">
            <span class="is-size-7 is-italic has-text-danger">{{firstNameError}}</span>
          </p>

          <p class="control mt-4 has-icons-left" style="width: 75%; margin: auto; border-radius: 4px;">
            <input id="tag" class="input pl-6" type="text" placeholder="MyTag" [value]="profile.tweetProfile.tag || ''" (input)="validateTag()" autocomplete="off">
            <!-- <input id="tag" class="input pl-6" type="text" placeholder="MyTag" [value]="tag" (input)="validateTag()" [readonly]="isEmpty(profile.tweetprofile.tag)"> -->
            <span class="icon is-small is-left is-danger">
              <i style="font-size: 1.5rem;">@</i>
            </span>
            <span class="is-size-7 is-italic has-text-danger">{{tagError}}</span>
          </p>
        </form>
      </section>
      <footer class="modal-card-foot is-flex is-justify-content-flex-end" style="border: none; background-color: whitesmoke">
        <div class="button is-quacker" (click)="finishTagModal()">{{profile.userProfile.isAskedForOptionalInfo ? 'Sign up' : 'Next'}}</div>
      </footer>
    </div>
</div>

<div class="modal" [class.is-active]="OptionalModalState()">
    <div class="modal-background"></div>
    <div class="modal-card">
      <header class="modal-card-head is-flex is-justify-content-flex-end" style="text-align: center; border:none; background-color: whitesmoke;">
        <p class="modal-card-title is-title" style="font-weight:500;"><span class="has-text-weight-bold">Optional </span><span>info</span></p>
      </header>
      <section class="modal-card-body py-4" style="background-color: whitesmoke">
          <!-- NG if goes here -->
          <form action="" id="optionalForm">
            <p class="control mb-4" style="width: 75%; margin: auto; width: 75%; border: 1px solid #707070; border-radius: 4px;">
                <input id="lastname" class="input" type="text" placeholder="Last name">
            </p>

            <p class="control mb-4" style="width: 75%; margin: auto; width: 75%; border: 1px solid #707070; border-radius: 4px;">
                <input id="country" class="input" type="text" placeholder="Country">
            </p>

            <p class="control mb-4" style="width: 75%; margin: auto; width: 75%; border: 1px solid #707070; border-radius: 4px;">
                <input id="city" class="input" type="text" placeholder="City">
            </p>
        </form>
      </section>
      <footer class="modal-card-foot is-flex is-justify-content-center" style="border: none; background-color: whitesmoke">
        <div>
            <div class="button is-quacker" (click)="closeOptionalModal(false)">Sign up</div>
            <div style="text-align: center" class="pt-2 is-clickable skip-btn" (click)="closeOptionalModal()">Skip</div>
        </div>

      </footer>
    </div>
</div>