<div>
    <ul class="is-flex is-flex-direction-column" *ngIf="!isThemeOptionsActive; else themeMenu">
       <li class="is-capitalized is-relative">profile<a class="is-full-link" href="/profile"></a></li>
       <li class="is-capitalized">edit profile</li>
       <li class="is-capitalized" (click)="toggleThemeOptions()">theme</li> 
       <li class="is-capitalized" (click)="logout()">logout</li> 
    </ul>

    <ng-template #themeMenu>
        <app-theme-options (closeMenu)="closeThemeOptions($event)"></app-theme-options>
    </ng-template>
    

</div>
