div{
    background-color: var(--color-of-card); 
}

ul {
    width: 100%;
    padding: 0;
    margin: 0;
    border: 0.1px solid var(--color-of-card-hover);
}

li {
    padding: 12px 0;
    border-top: 1px solid silver;
    color: var(--color-of-default-text);
    text-align: center;
    width: 100%;
    margin-bottom: -2px;
}

li:first-of-type {
    border-top-width: 0;
}

li:hover{
    cursor: pointer;
    background-color: var(--color-of-card-hover);
}