.tweet-composer {
    position: relative;
    z-index: 1;
}
  
  
  .js-keeper-editor {
    border: none;
    resize: none !important;
  }
  
  .js-keeper-editor,
  .js-keeper-placeholder-back {
    background: transparent;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 14px; /* Same font for both. */
    margin: auto;
    min-height: 200px;
    outline: none;
    padding: 10px;
    resize: vertical;
    width: 100%;
  }
  
  .js-keeper-placeholder-back {
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    color: transparent;
    position: absolute;
    white-space: pre-wrap;
    word-wrap: break-word;
    z-index: -1;
  }
  
  .js-keeper-placeholder-back em {
    background: #E0245E !important;
  }

  textarea {
    color: transparent !important;
    caret-color: var(--color-of-default-text);
    overflow-y: hidden;
  }
  
  /* Not important for the sake of this thing, just some styles to make it pretty. */
  
  * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  
  
  .card {
    box-shadow: 10px 10px 0px 0px rgba(0, 0, 0, 0.05);
    margin:auto;
    padding: 20px;
    position: relative;
    width: 400px;
  }


  // Self
  .card {
      width: 100%;
      height: 100%;
      margin: 0;
      box-shadow: unset;
  }

  .card * {
      width: 100%;
      height: 100%;
  }

  .js-keeper-placeholder-back, .js-keeper-placeholder-back em{
    color: var(--color-of-default-text);
    // //border: 1px solid white;
    // color: red;
  }

  .js-keeper-placeholder-back {
    // margin-top: -5.4px !important;
  }


  .js-keeper-editor {
    border: 3px solid blue;
  }

  .js-keeper-editor, .js-keeper-placeholder-back{
    box-sizing: content-box;
    line-height: 1;
    padding: 4px;
    margin: 0;
    font-size: 20px;
    border: none;
  }


  