<div class="card">
    <div class="tweet-composer">
      <textarea class="editor-textarea js-keeper-editor" 
        [ngModel]="quackText"
        (ngModelChange)="updateText($event)"
        placeholder="What is happening?" ></textarea>
      <div class="js-keeper-placeholder-back"><app-token-text [text]="hiddenTextAllowed"></app-token-text><em>{{hiddenTextNotAllowed}}</em></div>
    </div>
</div>
