<ng-container class="has-flex-grow-1 aaa" style="padding:0 !important" *ngIf="auth.isAuthenticated$ | async; else loggedOut">
    <button style="width: 100%" class="px-4 button is-quacker-reversed is-one-third is-large has-text-weight-bold has-flex-grow-1" (click)="auth.logout({ returnTo: document.location.origin })">
      Log out
    </button>
  </ng-container>

  <ng-template #loggedOut class="has-flex-grow-1 aaa" style="padding:0">
    <button id="login" class="px-4 button is-quacker-reversed is-one-third is-large has-text-weight-bold has-flex-grow-1">Login</button>
  </ng-template>