.grid {
    display: grid;
    grid-template-columns: 2fr 10fr;

    .content-wrapper {
        flex-direction: column;
        height: 100vh;
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }

    aside {
        background-color: var(--color-of-card);
        min-width: 200px;
    }
}

.menu-label {
    color: var(--color-of-default-text);
}

.navbar-item {
    color: var(--color-of-title-text);
    &:hover {
        color: var(--color-of-title-text-hover);
    }
}

.menu-list li a {
    color: var(--color-of-title-text);

    &:hover, &.active{
        background-color: var(--color-of-card-hover);
        color: var(--color-of-title-text-hover);
    }
}

h2, h4 {
    text-align: center;
}

h4 {
    padding: 0 2px 2px 2px;
    border-bottom: 4px solid var(--color-of-default-text);
}

.iframe-container {
    position: relative;
    overflow: hidden;
    width: 100%;
    min-width: 500px;
    padding-top: 56.25%; /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
    transform: scale(.65) translateY(-25%);
  /* Then style the iframe to fit in the container div with full height and width */
  iframe {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
  }
}

img{
    max-height: 48px;
}