<div class="grid">
    <aside class="menu pl-4 pt-4">
        <div class="navbar-brand">
            <a href="/home" class="navbar-item" >
                <img class="mr-2" src="assets/images/logo.png" alt="Quacker logo">
                <span class="has-text-weight-semibold is-capitalized">quacker</span>
            </a>
        </div>
        <p class="menu-label">
        Videos
        </p>
        <ul class="menu-list mr-4">
            <li *ngFor="let video of videos"><a [class.active]="video.index === videoIndex" (click)="setVideoIndex(video.index)" class="is-capitalized">{{video.title}}</a></li>
        </ul>
    </aside>

    <div class="content-wrapper">
        <h2 class="is-size-1 has-text-weight-semibold is-capitalized pt-8 mt-6">quacker demo</h2>
        <h4 class="is-size-3 is-italic is-capitalized mt-6">{{videos[videoIndex].title}}</h4>
        <div class="iframe-container">
            <iframe allowfullscreen #videoFrame></iframe>
        </div>
    </div>

</div>