li {
    border-bottom: 1px solid var(--color-of-default-text);

    .name {
        color: var(--color-of-default-text);
    }

    &:last-of-type {
        border: unset;
    }
}

.text-area-wrapper {
    border-radius: 4px;
    width: 90%;
    height: 30vh;
    margin: 0 auto;
    padding: 10px;
    background-color: var(--color-of-card);
    display: grid;
    grid-template-rows: 100%;
    grid-template-columns: repeat(12, 1fr);

    .img-wrapper {
        grid-column: 1;
        grid-row: 1 / 4;
    }

    .quack-area {
        grid-column: 2 / 12;
    }

    .button-wrapper {
        grid-column: 13;
    }
}


.tweet-conditional {
    padding: 4px 4px 0 0;
    width: 75%;
    margin: 0 auto;
    overflow-y: auto;
    max-height: 45vh;
}

.tweet-conditional > div {
    border: 1px solid silver;
    padding: 12px;
    padding-top: 20px;
    margin-top: -1px;
    display: flex;
    justify-content: left;
    align-items: center;
    position: relative;
}

.tweet-conditional > div > span {
    position: absolute;
    top: 0;
    font-weight: bold;
    color: silver;
}

.tweet-conditional > div > span:first-of-type {
    left: 50%;
    transform: translateX(-50%);
}

.tweet-conditional > div > span:last-of-type {
    right: 12px;
}

.tweet-conditional > div > img {
    float: left;
    height: 50px;
    width: auto;
    margin-right: 20px;
}

// Breakpoints

 

@media only screen and (max-width: 1300px) {
    .tweet-conditional {
        width: 100%;
    }

    .mentions {
        margin-left: 24px;
    }

    .card {
        width: 80%;

        .button {
            display: block;
            margin: 0 auto !important;
            margin-top: 16px !important;
            width: 60%;
        }
    }

    .quack-area .card {
        padding: 0;
        width: 100%;
    }

    .text-holder {
        display: block !important;

        span:first-of-type {
            &::after {
                content: " | ";
                color: var(--color-of-card-hover);
            }
        }

    }

    .card-content .to-follow-item {
        display: block !important;

        .name {
            text-align: left !important;
        }
    }

    .text-area-wrapper {

        .img-wrapper {
            display: none !important;
        }

        .quack-area {
            grid-column: 2 / 13;
            overflow-y: auto;
            grid-row: 1 / 3;
        }

        .button-wrapper {
            grid-column: 1;
            grid-row: 1 / 3 !important;
            border: 1px solid red !important;
        }
    }

}
 