<app-navbar></app-navbar>
<div class="columns mt-5" style="background: unset">
    <!-- Mentions -->
    <section class="column mentions">
        <div class="mt-6 mb-3" style="max-height: 50vh;padding-top: 1px; padding-right: 16px;">
            <h2 class="has-text-brand is-size-4 mb-2 has-text-centered">Mentions</h2>
            <section class="tweet-conditional"
                *ngIf="Model.tweetProfile.mentions.length > 0; else emptyMentionMsg">
                <div *ngFor="let quack of Model.tweetProfile.mentions">
                    <!-- <span>{{tweet.userInfo?.name}}</span> -->
                    <span><a class="tag-link" [href]="'/profile/' + quack.userInfo?.tag">@{{quack.userInfo?.tag}}</a></span>
                    <span>{{timeAgo(quack.postDate)}}</span>
                    <div style="width: 100%">
                        <figure class="image is-48x48 mr-2" style="float:left;">
                            <img [src]="quack.userInfo?.imageUrl" class="is-rounded" />
                        </figure>
                        <span class="dont-break-out">
                            <app-token-text [text]="quack.text"></app-token-text>
                        </span>
                    </div>
                </div>
            </section>
            <ng-template #emptyMentionMsg>
                <span class="is-italic has-text-centered is-block p-2">You are not mentioned in any quack's yet, but don't worry :)</span>
            </ng-template>
        </div>
    </section>

    <!-- Main content -->
    <section class="column">
        <div class="text-area-wrapper">
            <div class="is-flex is-flex-direction-column is-justify-content-space-between img-wrapper">
                <figure class="image is-64x64 mr-2">
                    <img [src]="Model.tweetProfile.imageUrl" class="is-rounded" />
                </figure>
                <span class="is-size-5">{{144 - quackText.length}}/144</span>
            </div>
            <app-quack-area [(quackText)]="quackText" class="quack-area"></app-quack-area>
            <div class="is-flex is-flex-direction-column is-justify-content-flex-end btn-wrapper">
                <div class="button is-quacker has-text-weight-bold is-capitalized" (click)="postQuack()">quack</div>
            </div>
        </div>

        <!-- Tweets -->
        <div class="mt-6 mb-3" style="padding-top: 1px; padding-right: 16px;">
            <h2 class="has-text-brand is-size-4 mb-2 has-text-centered">Timeline</h2>
            <section class="tweet-conditional"
                *ngIf="Model.tweetProfile.quacksOnTimeline.length > 0; else emptyTimelineMsg">
                <div *ngFor="let quack of Model.tweetProfile.quacksOnTimeline">
                    <span><a class="tag-link" [href]="'/profile/' + quack.userInfo?.tag">@{{quack.userInfo?.tag}}</a></span>
                    <span>{{timeAgo(quack.postDate)}}</span>
                    <div style="width: 100%">
                        <figure class="image is-48x48 mr-2" style="float:left;">
                            <img [src]="quack.userInfo?.imageUrl" class="is-rounded" />
                        </figure>
                        <span class="dont-break-out">
                            <app-token-text [text]="quack.text"></app-token-text>
                        </span>
                    </div>
                </div>
            </section>
            <ng-template #emptyTimelineMsg>
                <span class="is-italic has-text-centered is-block p-2">Your timeline is empty. Try following
                    someone</span>
            </ng-template>
        </div>
    </section>
    <!-- Trends and recommended users-->
    <!-- Who to follow -->
    <section class="column columns is-flex is-align-items-flex-end is-flex-direction-column mt-0">
        <div id="socials" class="card block mr-6 mb-5 p-0 column is-7">
            <header class="card-header">
                <p class="card-header-title is-centered is-title is-capitalized">who to follow</p>
            </header>
            <div class="card-content m-0 p-0">
                <ul *ngIf="Model.followRecommendations.length > 0; else noRecommendationsMsg">
                    <li *ngFor="let recommendation of Model.followRecommendations"
                        class="to-follow-item p-4 is-flex is-flex-wrap-wrap is-justify-content-space-between is-align-items-center">
                        <span>
                            <figure class="image is-48x48 mr-4" style="float:left;">
                                <img [src]="recommendation.imageUrl" class="is-rounded" />
                            </figure>
                            <div class="is-flex is-flex-direction-column has-text-weight-semibold text-holder">
                                <span><a class="tag-link" [href]="'/profile/' + recommendation.tag">@{{recommendation.tag}}</a></span>
                                <span class="name dont-break-out is-centered is-capitalized has-text-centered">
                                    {{recommendation.name}}
                                </span>
                            </div>
                        </span>
                        <div (click)="toggleFollowUser($event)" [attr.data-userid]="recommendation.id"
                            class="button is-quacker has-text-weight-bold ml-2 mb-4 is-capitalized">follow</div>
                    </li>
                </ul>
                <ng-template #noRecommendationsMsg>
                    <span class="is-italic has-text-centered is-block py-2">No recommendations left</span>
                </ng-template>
            </div>
        </div>
        <!-- Trends -->
        <div id="socials" class="card block mr-6 mt-5 column is-7 p-0">
            <header class="card-header">
                <p class="card-header-title is-title is-capitalized">trends</p>
            </header>
            <div class="card-content p-0 pb-1 m-0">
                <ul *ngIf="Model.hashtagTrends.length > 0; else noTrendsMsg">
                    <li *ngFor="let trend of Model.hashtagTrends"
                        class="is-capitalized is-flex is-justify-content-space-between has-text-weight-semibold px-4 p-2">
                        {{trend.hashtag.toLowerCase()}}
                        <span class="is-capitalized">
                            {{trend.timesQuacked}} {{trend.timesQuacked == 1 ? 'quack' : 'quacks'}}
                        </span>
                    </li>
                </ul>
                <ng-template #noTrendsMsg>
                    <span class="is-italic has-text-centered is-block p-2">There are no trends at the moment try to
                        quack a hashtag</span>
                </ng-template>
            </div>
        </div>
    </section>
</div>
<app-loader *ngIf="!hasProfileLoaded"></app-loader>