.underline {
    left: 15%;
    right: 15%;
    height: 2px;
    bottom: 0;
    border-bottom: 4px solid silver;
    position: absolute;
}

.border {
    border: 1px solid red;
}

.listed-item {
    transform: scale(1.2);
}


// li .underline {

//     position: absolute;

//     &:first-of-type {
//         left: 0;
//         bottom: 4%;
//         top: 4%;
//         border-left: 2px solid silver;
//         width: 2px;
//     }

//     &:nth-of-type(2) {
//         right: 0;
//         top: 4%;
//         bottom: 4%;
//         border-right: 2px solid silver;
//         width: 2px;
//     }

//     &:nth-of-type(1) {
//         bottom: 0;
//         left: 4%;
//         right: 4%;
//         border-bottom: 2px solid silver;
//         height: 2px;
//     }

//     &:nth-of-type(4) {
//         top: 0;
//         left: 4%;
//         right: 4%;
//         border-top: 2px solid silver;
//         height: 2px;
//     }
// }

// .listed-item {
//     transition-duration: .3s;

//     &:hover {
//         cursor: pointer;
//     }
// }

// .listed-item:hover .underline {
//     border-color: var(--color-of-brand);
// }