<app-navbar></app-navbar>

<div class="columns is-flex is-justify-content-center mt-6">
    <section class="column is-8">
        <!-- Header stuff -->
        <div class="is-flex is-justify-content-center">
            <div class="has-text-centered">
                <img [src]="Model.imageUrl" class="is-rounded" alt="Logged in user's profile picture"
                    style="width:128px; height: 128px;" />

                <!-- <h2 class="is-size-2 has-text-weight-bold">@MyTag</h2> -->
                <h2 class="is-size-2 has-text-weight-bold mb-2">@{{Model.tag}}</h2>
                <h4 class="is-size-4 has-text-weight-semibold">{{pageTitle[followTabIndex]}}:</h4>
            </div>
        </div>

        <!-- Tabs -->
        <div class="tabs is-centered is-boxed mt-6">
            <ul>
                <li (click)="followTabIndex = 0"
                    [ngClass]="{'is-active': followTabIndex == 0, 'has-text-weight-semibold': followTabIndex == 0}">
                    <a class="has-text-brand is-capitalized">followers ({{Model.followerCount}})</a>
                </li>
                <li (click)="followTabIndex = 1"
                    [ngClass]="{'is-active': followTabIndex == 1, 'has-text-weight-semibold': followTabIndex == 1}">
                    <a class="has-text-brand is-capitalized">following ({{Model.followingCount}})</a>
                </li>
            </ul>
        </div>

        <!-- Tab content-->
        <ul *ngIf="followTabIndex == 0; else followingTab" class="columns">
            <li *ngFor="let follower of Model.followers" class="listed-item column is-2 is-relative">
                <span class="underline"></span>
                <div class="is-flex is-justify-content-center">
                    <img [src]="follower.imageUrl" class="is-rounded mr-2" style="width: 48px; height: 48px;" />
                    <span class="has-text-centered">
                        <div><a class="tag-link" [href]="'/profile/' + follower.tag">@{{follower.tag}}</a></div>
                        <div>{{follower.name}}</div>
                    </span>
                </div>
            </li>
        </ul>

        <ng-template #followingTab>
            <ul class="columns">
                <li *ngFor="let user of Model.following" class="listed-item column is-2 is-relative">
                    <span class="underline"></span>
                    <div class="is-flex is-justify-content-center">
                        <img [src]="user.imageUrl" class="is-rounded mr-2" style="width: 48px; height: 48px;" />
                        <span class="has-text-centered">
                            <div><a class="tag-link" [href]="'/profile/' + user.tag">@{{user.tag}}</a></div>
                            <div>{{user.name}}</div>
                        </span>
                    </div>
                </li>
            </ul>
        </ng-template>
    </section>


</div>

<app-loader *ngIf="!hasProfileLoaded"></app-loader>